---
layout: page
title: Building Blocks
---
<p>These are the common building blocks I have organized as part of this research, organized by category.</p>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  {% for category in site.data.buildingblocks %}
  <tr>
    <td align="left" valign="top" style="padding-left:10px; padding-bottom:5px; background-color: #E0E0E0;">
      <h2>{{ category.category_name }}</h2>
    </td>
  </tr>
  {% for buildingblock in category.building_blocks %}
  <tr>
    <td align="left" valign="top">
      <ul style="padding: 2px 10px 2px 10px;">
        <li><strong>{{ buildingblock.name }}</strong> - {{ buildingblock.about }}</li>
      </ul>
    </td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
<p>I am constantly updating, reording, and evolving these building blocks based upon where the space is going.</p>
